.jstree-default a ins.jstree-icon.file {
  background: transparent url("../images/editor/file.png") no-repeat;
  background-position: 0px 0px;
  background-size: 14px;  
}

.jstree-default a.jstree-clicked { 
  width: 100%; /* Give JSTree clicked states 100% width for aesthetics, make the selection more obvious */
  background-color: @blue;
  border: 1px solid lighten(@blue, 5%);
  color: @white;
}

.jstree-default a {
  cursor: default;
}

#treeContainer, #treeToolbar, #snippets{
  left: 100px;
  width: 220px;
  position: absolute;
}

#treeToolbar {
  background-color: @grayDark;
}

#treeToolbar a.btn {
  margin: 0px 5px;
}

#treeContainer, #snippets {
  top: 103px; /* Put it inline with the editor content window */
  float: left;
  clear: both;
  height: 100%;
  background: @grayDark;
  overflow: hidden; 
}

#treeContainer > ul, #snippets {
  background: @white;
  min-height: 100px;
}