.fileBox {
  height: 100px;
  width: 100%;
  float: none;
  background-color: @grayLighter;
  border: 1px dashed @gray;
  text-align: center;
  margin: 0px auto 10px auto;
  color: @gray;
  font-size: 1.3em;
  line-height: 1.8em;
}