#dock {
  background-color: @grayLighter;
  color: @black;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: -150px;
  left: 0;
  display: block;
  border-top: 1px solid @grayDarker;
  overflow-x: scroll;
  overflow-y: hidden;
}
#dock.animate {
  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
          transition: all 0.2s linear;

}

#dock.expanded {
  bottom: 0;
}

#dock .item {
  display: block;
  margin: 3px;
  height: 44px;
  width: 100%;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #999;
}
#dock .item .btn:first-child {
	min-width: 160px;
}
#dock .item .btn {
	height: 100%;
}
/* Dans dock
#dock .item:after {
  content: attr(data-log);
  position: absolute;
  display: block;
  bottom: 50px;
  width: 140px;
  left: 50%;
  margin-left: -75px;
  margin-bottom: 5px;
  background-color: @grayDarker;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
}
#dock .item:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	left: 50%;
	border: 8px solid transparent;
	border-top-color: @grayDarker;
	top: -11px;
	margin-left: -8px;
}*/

#dockBuildStatus {
  font-style: italic;
}
#dock .progress {
  margin-bottom: 0px;
}

#dock strong {
  margin: 0px 10px;
}