html, body {
  height: 100%;  
}
.content.login {
  margin: 60px 0px 0px 0px;  
}
.content.login .row {
  width: 960px;
  margin: 0 auto;
}

#loginCloud {
  background-image: url("../images/loginCloud.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 120px;
  width: 378px;
  margin-left: 100px;
  margin-top: 0px;  
}

#logo {
  text-align: center;
}

a#forgot, a:active#forgot, a:hover#forgot a:hover{
  color: #fff;  
}