
<div id="editorToolbar"></div>
<pre id="editor" style="height: 492px; width: 100%;">
  <% if (file){ %>
    <%= file %>
  <% } %>
</pre>


<script src="/js/lib/ace/ace-uncompressed.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/lib/ace/theme-cobalt.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/lib/ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
<script>
$(function() {
    studio.editor.openTab();
});
</script>