<div class="alert-message block-message error">
  <h2>Oops!</h2>
  <p><%= error %></p>
  <div class="alert-actions">
    <a class="btn small" href="#">Go Back</a> <a class="btn small" href="#">Contact Support</a>
  </div>
</div>