<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="/js/lib/jquery-1.7.1.min.js"></script>
    <script src="/js/lib/ejs.js"></script>
    <script src="/js/lib/jquery.tablesorter.min.js"></script>
    <script src="/js/lib/jquery.history.js"></script>
    <script src="/js/lib/JSTree/jquery.jstree.js"></script>
    <script src="/js/studio.js"></script>
    <script src="/js/filestree.js"></script>

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrapOver.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <img class="logo" src="/images/logo-small.png" alt="Feedhenry Logo">
          <a class="brand" href="/home">studio</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/apps">Apps</a></li>
            <li><a href="/signup">Signup</a></li>
          </ul>
          <% if (locals.user) { %>
            <p class="pull-right"><a href="#"><%= user %></a> |
              <a href="#">Help</a> |
              <a href="#">Prefrences</a> |
              <a href="/logout">Log Out</a>
            </p>
          <% }else{ %>
            <form action="/login" method="post" class="pull-right">
              <input name="username" class="input-small" type="text" placeholder="Username">
              <input name="password" class="input-small" type="password" placeholder="Password">
              <button class="btn" type="submit">Sign in</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>

    <div id="container" class="container-fluid">
      
      
        <%- body %>
        

        
        
      
    </div>

  </body>
</html>