<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="/js/lib/jquery-1.7.1.min.js"></script>
    <script src="/js/lib/ejs.js"></script>
    <script src="/js/lib/jquery.tablesorter.min.js"></script>
    <script src="/js/lib/jquery.history.js"></script>
    <script src="/js/lib/JSTree/jquery.jstree.js"></script>
    <script src="/js/lib/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/js/lib/bootstrap/bootstrap-tabs.js"></script>
    <script src="/js/studio.js"></script>
    <script src="/js/editor.js"></script>
    <script src="/js/messages.js"></script>
    <script src="/js/init.js"></script>

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="/css/bootstrapOver.css">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <img class="logo" src="/images/logo-small.png" alt="Feedhenry Logo">
          
          <ul class="nav studioNav">
            <li class="dropdown" data-dropdown="dropdown">
              <a class="brand dropdown-toggle no-ajax" href="#">studio</a>
              <ul class="dropdown-menu">
                <li><a class="brand" href="/">Dashboard</a></li>
                <li><a class="brand href="/apps">App Studio</a></li>
                <li><a class="brand href="/reporting">Reporting</a></li>
                <li><a class="brand href="/admin">Admin</a></li>
              </ul>
            </li>
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/apps">Apps</a></li>
            <li><a href="/apps">Reporting</a></li>
            <li><a href="/apps">Admin</a></li>
            <li><a href="/apps">Docs</a></li>
          </ul>
          <% if (locals.user && user.username) { %>
          <% 
            var roleString = "(Developer)";
            switch(user.role){
              case "devadmin":
                roleString = "Dev Admin";
                break;
              case "dev":
                roleString = "Developer";
                break;
              default: "Developer"
            }
          %>
            <p class="pull-right"><a href="#"><%= user.username %> (<%= roleString %>)</a> |
              <a href="#">Help</a> |
              <a href="#">Prefrences</a> |
              <a href="/logout">Log Out</a>
            </p>
          <% }else{ %>
            <form action="/login" method="post" class="pull-right">
              <input name="username" class="input-small" type="text" placeholder="Username">
              <input name="password" class="input-small" type="password" placeholder="Password">
              <button class="btn" type="submit">Sign in</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
    <div id="container" class="container-fluid">
      
      
        <%- body %>
        

        
        
      
    </div>

  </body>
</html>