<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="/js/lib/jquery-1.7.1.min.js"></script>
    <script src="/js/lib/ejs.js"></script>
    <script src="/js/lib/jquery.tablesorter.min.js"></script>
    <script src="/js/lib/jquery.history.js"></script>
    <script src="/js/lib/JSTree/jquery.jstree.js"></script>
    <script src="/js/lib/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/js/studio.js"></script>
    <script src="/js/editor.js"></script>
    <script src="/js/init.js"></script>

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="/css/bootstrapOver.css">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>

  <body>

    <div class="topbar">
      <div class="topbar-inner">

      </div>
    </div>
    <div id="container" class="container-fluid">
      
      
        <%- body %>
        

        
        
      
    </div>

  </body>
</html>