<h2>Returning user?</h2>
<form method="post" action="/login">
  <fieldset>
  <legend>Enter your username and password</legend>
    <div class="clearfix">
      <label for="username">Username</label>
      <div class="input">
        <input class="xlarge" id="username" name="username" size="30" type="text">
      </div>
    </div>
    <div class="clearfix">
      <label for="password">Password</label>
      <div class="input">
        <input class="xlarge" id="password" name="password" size="30" type="password">
      </div>
    </div>
  </fieldset>
  <input type="submit" value="Submit" />
</form>