<script src="/js/preview.js"></script>



<h2 style="display: inline;">Preview</h2>
<span class="pull-right">
  <a href="#" onclick="preview.change('iPad')">iPad</a> | 
  <a href="#" onclick="preview.change('iPhone')">iPhone</a> | 
  <a style="font-size: 2em;" href="#" onclick="preview.rotate();">&#8635;</a> | 
  Scale: 25%<input type="range" onchange="preview.scale(this.value);" min="25" maxvalue="100">100%<br />
</span>
<div class="previewContainer iPhone" id="previewContainer" style="">
<iframe src="http://apps.feedhenry.com/box/srv/1.1/wid/apps/studio/<%= data.inst.guid %>/container" frameborder="0" style=""></iframe>
</div>