<div class="content login">
  <div class="row">
    <div class="span4">&nbsp;</div>
    <div class="span8">
      <div id="logo"><img src="/images/logo.png" /></div>
      <br /><br />
      <div class="hero-unit tab-content pill-content">
        <div id="login" class="row active">
          <div class="span7">
            <p>To register, enter your email address & follow further instructions</p>
            <fieldset>
              <input class="span6" placeholder="email" name="login_email" id="login_email" type="text"><br /><br />
              
            </fieldset>
          
            <p>
              <a href="login.html" class="btn primary large">Register</a>
              <a id="forgot" href="forgot.html" class="large">Or login...</a>
            </p>
          </div>
          
        </div> <!-- /login -->
        <div id="loginCloud">&nbsp;</div>
      </div><!-- /hero-unit -->
    </div> <!-- /span8 -->
    <div class="span4">&nbsp;</div>
  </div>
</div>