<div class="content login">
  <div class="row">
            <div class="span4">&nbsp;</div>
            <div class="span8">
              <div id="logo"><img src="/images/logo.png" /></div>
              <br /><br />
              <div class="hero-unit tab-content pill-content">
                <div id="login" class="row active">
                  <div class="span7">
                    <p>Enter your username and password to login</p>
                    <form action="/login" method="post">
                      <fieldset>
                        <input class="span6" placeholder="email" name="username" id="login_email" type="text"><br /><br />
                        <input class="span6" placeholder="password" name="password" id="login_password" type="password"><br /><br />
                      </fieldset>
                    
                      <p>
                        <button class="btn primary large" type="submit">Login</button>
                        &nbsp;
                        <a id="forgot" href="forgot.html" class="large">Forgot...</a>
                      </p>
                    </form>
                  </div>
                  
                </div> <!-- /login -->
                <div id="loginCloud">&nbsp;</div>
              </div><!-- /hero-unit -->
            </div> <!-- /span8 -->
            <div class="span4">&nbsp;</div>
  </div>
</div>