<ul class="breadcrumb">
  <li><a href="/">Studio</a> <span class="divider">/</span></li>
  <li><a href="/apps">Apps</a> <span class="divider">/</span></li>
  <li><a href="/apps/<%= data.inst.guid %>"></a> <span class="divider">/</span></li>
  <li class="active">Preview</li>
</ul>