<h2>Returning user?</h2>
 <form method="post" action="/login">
   <fieldset>
      <legend>Login</legend>
      <label for="username">Username:<input type="text" name="username" value="username" /></label>
      <label for="password">Password:<input type="password" name="password" value="password" /></label>
   </fieldset>
   <input type="submit" value="Submit" />    
</form>