!!!
html
  head
    title= title
    <!-- LIB JS UTILS -->
    script(src="/js/lib/jquery-1.7.1.min.js")
    script(src="/js/lib/jquery.tablesorter.min.js")
    script(src="/js/lib/jquery.history.js")
    script(src="/js/lib/JSTree/jquery.jstree.js")
    script(src="/js/lib/bootstrap/bootstrap-typeahead.js")
    script(src="/js/lib/bootstrap/bootstrap-transition.js")
    script(src="/js/lib/bootstrap/bootstrap-dropdown.js")
    script(src="/js/lib/bootstrap/bootstrap-tab.js")
    script(src="/js/lib/bootstrap/bootstrap-modal.js")
    script(src="/js/lib/bootstrap/bootstrap-carousel.js")
    script(src="/js/lib/dust-core-0.3.0.js")
    script(src="/js/lib/underscore-min.js")
    script(src="/js/lib/jquery.hotkeys.js")
    script(src="/js/lib/dom-drag.js")

    <!--COMPILED TEMPLATES -->
    script(src="/js/templates/compiledTemplates.js")
    <!-- new layout -->
    script(src="/init.js")
    script(src="/util/ajaxify.js")
    script(src="/util/history.js")
    script(src="/util/messages.js")
    script(src="/util/modal.js")
    script(src="/util/iefix.js")
    script(src="/util/keyboard.js")
    script(src="/studio/dashboard.js")
    script(src="/studio/preview/preview.js")
    script(src="/studio/views/helpers.js")
    script(src="/dispatch.js")
    script(src="/studio/apps/apps.js")
    script(src="/studio/preview/preview.js")
    script(src="/studio/editor/editor.js")
    script(src="/studio/editor/tree.js")
    script(src="/studio/editor/operations.js")
    script(src="/studio/editor/shortcuts.js")
    script(src="/studio/formHelpers.js")
    script(src="/studio/debug/debug.js")
    <!--end-->

    
    

    
    

    <link rel="stylesheet" href="/css/main.css">


  body
  
