!!!
html
  head
    title= title
    script(src="/js/lib/jquery-1.7.1.min.js")
    script(src="/js/lib/jquery.tablesorter.min.js")
    script(src="/js/lib/jquery.history.js")
    script(src="/js/lib/JSTree/jquery.jstree.js")
    script(src="/js/lib/bootstrap/bootstrap-dropdown.js")
    script(src="/js/lib/bootstrap/bootstrap-tabs.js")
    script(src="/js/lib/dust-core-0.3.0.js")
    script(src="/js/studio.js")
    script(src="/js/editor.js")
    script(src="/js/init.js")

    script(src="/js/templates/compiledTemplates.js")
    script(src="/js/templates/templateRenderer.js")

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="/css/bootstrapOver.css">


  body(style="padding-top: 40px;")
  div( class="topbar")
      div(class="topbar-inner")
  div(class="container-fluid", id="container")
