<h2>Sign Up</h2>
<div class="clearfix">
  <label for="username">Username</label>
  <div class="input">
    <input class="" id="username" name="username" type="text">
  </div><br />
  <label for="password">Password</label>
  <div class="input">
    <input class="" id="password" name="password" type="password">
  </div><br />
  <label for="email">Email</label>
  <div class="input">
    <input class="" id="email" name="email" type="text">
  </div><br />
</div>