@import "mixins/css3"

.summary
  margin-right 400px

.preview
  position absolute
  top 0px
  right 20px
  width 380px

.previewContainer
  background-repeat no-repeat
  -webkit-transform-origin 0 0

.previewContainer.iPhone
  background-image  url(../images/iPhone4.png)
  background-size 763px
  padding 276px 65px
  iframe
    width 640px 
    height 960px
  
.previewContainer.iPad
  background-image  url(../images/iPad.png)
  background-size 1253px
  padding 98px 114px
  iframe
    width 1024px
    height 768px
  
.apps
  .icon 
    width: 5%
  .title
    width 20%
  .desc
    width 50%
  .modified
    width 20%
    
  .version
    width 5%
  tr:hover
    background-color #f4f4f4