@import "mixins/css3"

.summary
  margin-right 400px

.preview
  position absolute
  top 0px
  right 20px
  width 380px

.previewContainer
  background-repeat no-repeat

.previewContainer.iPhone
  background-image  url(../images/iPhone4.png)
  background-size 381px
  padding 137px 32px
  
.apps
  .icon 
    width: 5%
  .title
    width 20%
  .desc
    width 50%
  .modified
    width 20%
    
  .version
    width 5%
  tr:hover
    background-color #f4f4f4