<div class="sidebar">
           <%- partial( "sidebar" ) %>
</div>
<div class="content">
  
  
  <div class="alert-message block-message error">
    <h2>Oops!</h2>
    <p><%= error %></p>
    <div class="alert-actions">
      <a class="btn small no-ajax" href="#" onclick="history.go(-1)">Go Back</a> <a class="btn small" href="http://support.feedhenry.com">Contact Support</a>
    </div>
  </div>
  
  <%- partial("footer") %>
</div>